@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Source+Sans+Pro:ital,wght@1,200&family=Ubuntu:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;}


/* modifica el h1 de welcome*/
.txtWelcome{
    margin-top: 2rem ;
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;}

/* mopdifica el h4 de welccome*/
.txtW{
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;}

.txtW2{
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    border-bottom: solid 2px #ff9f1c;}

/* Modifica todos los titulos*/
.txtTitle{
    border-bottom: solid 2px #ff9f1c;
    font-size: 4rem;
    margin-top: 8vw;
    font-family: 'Raleway', sans-serif;}

/* modifica todos los titulos*/
.parrafoTitle{
    font-size: 1.5rem;
    margin-top: 2vw;
    font-family: 'Ubuntu', sans-serif;}

/* modifica  las tarjetas*/
.card{
    background-color: rgb(20, 18, 18);
    margin-left: 3vw;
    width: 80%;
    transition: 300ms;}

.card:hover{
    transform: scale(1.1);}

/* modifica todos los botones*/
.btn{
    
    color:black;
    background-color:#ff9f1c ;
    border: solid 2px #ff9f1c;}

/*modifica el contenedor de experience*/
.containerExperience{
    justify-content: center;
    margin-top: 8vw;
    padding-left: 1vw;}    

/*modifica el contenedor de aboutme*/
.containerAboutme{
    justify-content: center;}

/* modifica el parrafo de aboutme*/
.parrafoAboutme{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    margin-top: 2vw;}

/* modifica la imagen de perfil*/
.imgAboutme{
    margin-top:4vw ;}

/*modifica el contenedor del formulario*/
.containerForm{
    margin-left: 17vw;}

/* modifica el footer*/
footer{
    margin-top: 2rem;}

