@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Source+Sans+Pro:ital,wght@1,200&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

.SectionWelcome {
  /*modifica la seccion welcome*/
  text-align: left;
  font-family: "Raleway", sans-serif; }
  .SectionWelcome .txtWelcome {
    /*modifica el h1 de welcome*/
    margin-top: 2rem;
    font-size: 5rem; }
  .SectionWelcome .txtW {
    /*modifica el h4 de welcome*/
    font-size: 3rem; }
  .SectionWelcome .txtW2, .SectionWelcome .parrafoWel {
    /*modifica el h2 de welcome*/
    font-size: 4rem;
    border-bottom: solid 2px #ff9f1c; }
  .SectionWelcome .parrafoWel {
    /* modifica el parrafo de welcome*/
    font-size: 1.5rem;
    border-bottom: none;
    line-height: 50px;
    margin-top: 2vw;
    font-family: "Ubuntu", sans-serif; }

/*modifica el contenedor de experience*/
.containerExperience {
  justify-content: center;
  margin-top: 8vw;
  padding-left: 1vw; }

/*modifica el contenedor de aboutme*/
.containerAboutme {
  justify-content: center;
  margin-top: 2vw;
  padding-left: 1vw; }
  .containerAboutme .parrafoAboutme {
    /* modifica el parrafo de aboutme*/
    font-family: "Ubuntu", sans-serif;
    line-height: 50px;
    font-size: 1.5rem;
    margin-top: 2vw; }
  .containerAboutme .imgAboutme {
    /* modifica la imagen de perfil*/
    margin-top: 4vw;
    margin-left: 50px; }

/*modifica el contenedor del formulario*/
.containerForm {
  margin-left: 17vw; }
  .containerForm .btn {
    border: solid 2px black;
    background-color: #ff9f1c; }

/*Contenedor de todos los titulos*/
.contenedorTitle {
  font-family: "Raleway", sans-serif; }
  .contenedorTitle .txtTitle {
    /* Modifica todos los titulos*/
    border-bottom: solid 2px #ff9f1c;
    font-size: 4rem;
    margin-top: 8vw; }
  .contenedorTitle .parrafoTitle {
    /* modifica el parrafo de todos los titulos*/
    font-size: 1.5rem;
    line-height: 50px;
    margin-top: 2vw;
    font-family: "Ubuntu", sans-serif; }

/* modifica el footer*/
footer {
  margin-top: 2rem; }

/* modifica  las tarjetas*/
.card {
  background-color: #141212;
  width: 18rem;
  margin-top: 3rem;
  transition: 300ms; }
  .card:hover {
    transform: scale(1.29); }
  .card .btn {
    /* modifica los botones de las tarjetas*/
    color: black;
    background-color: #ff9f1c;
    border: solid 2px #ff9f1c; }

/*------------------VISTA TABLET----------------*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card {
    width: 15rem; }
  /* modifica la imagen de perfil*/
  .imgAboutme {
    margin-left: 8vw; }
  /*modifica el contenedor del formulario*/
  .containerForm {
    margin-left: 13vw; } }

/*------------------------------------------------------------------------------------------------
    
    
    /*------------------VISTA MOBILE----------------*/
@media screen and (max-width: 767px) {
  .tarjetas {
    /*modifica el contenedor  de las tarjetas*/
    margin-left: 5vw; }
    .tarjetas .card {
      /*modifica las tarjetas*/
      width: 20rem; }
  .SectionWelcome {
    /*modifica la seccion welcome*/
    text-align: left;
    font-family: "Raleway", sans-serif; }
    .SectionWelcome .txtWelcome {
      /*modifica el h1 de welcome*/
      margin-top: 1rem;
      font-size: 4rem; }
    .SectionWelcome .txtW {
      /*modifica el h4 de welcome*/
      font-size: 2rem; }
    .SectionWelcome .txtW2, .SectionWelcome .parrafoWel {
      /*modifica el h2 de welcome*/
      font-size: 3rem; }
    .SectionWelcome .parrafoWel {
      /* modifica el parrafo de welcome*/
      font-size: 1.3rem; }
  /* Modifica todos los titulos*/
  /* modifica el parrafo de todos los titulos*/
  .card {
    margin-left: 10vw; }
  /* modifica la imagen de perfil*/
  .imgAboutme {
    width: 20rem; }
  /*modifica el contenedor del formulario*/
  .containerForm {
    margin-left: 13vw; } }
