/* modifica  las tarjetas*/
.card{
    background-color: rgb(20, 18, 18);
    margin-left: 1vw;
    width: 80%;
    margin-top: 30px;
    transition: 300ms;

        &:hover{
            transform: scale(1.3); }

                .btn{/* modifica los botones de las tarjetas*/
                    color:black;
                    background-color: $color-general ;
                    border: solid 2px $color-general;}
            }
