/* modifica  las tarjetas*/

.card{
    background-color: rgb(20, 18, 18);
    width: 18rem;
    margin-top: 3rem;
    transition: 300ms;

        &:hover{
            transform: scale(1.29); }

                .btn{/* modifica los botones de las tarjetas*/
                    color:black;
                    background-color: $color-general ;
                    border: solid 2px $color-general;}
            }