@import "mixins.scss";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;}



.SectionWelcome{  /*modifica la seccion welcome*/
    text-align: left;
    font-family: $fuente-titulos;

        .txtWelcome{  /*modifica el h1 de welcome*/
            margin-top: map-get($sizes,dos); 
            font-size: map-get($sizes,cinco);}

                .txtW{  /*modifica el h4 de welcome*/
                    font-size:map-get($sizes,tres);}

                        .txtW2{  /*modifica el h2 de welcome*/
                            font-size:map-get($sizes,cuatro);
                            border-bottom: solid 2px $color-general;}

                            .parrafoWel{    /* modifica el parrafo de welcome*/ 
                                @extend .txtW2;
                                font-size:map-get($sizes,unocinco);
                                border-bottom: none;
                                line-height: 50px;
                                margin-top: 2vw;
                                font-family: $fuente-parrafos;}
                        }


/*modifica el contenedor de experience*/                    
.containerExperience{
@include center-mar-padd;}

/*modifica el contenedor de aboutme*/
.containerAboutme{
    @include center-mar-padd;
    margin-top: 2vw;

        .parrafoAboutme{/* modifica el parrafo de aboutme*/
            font-family: $fuente-parrafos;
            line-height: 50px;
            font-size: map-get($sizes,unocinco);
            margin-top: 2vw;}

                .imgAboutme{/* modifica la imagen de perfil*/
                    margin-top:4vw ;
                    margin-left: 50px;}
                }             


/*modifica el contenedor del formulario*/
.containerForm{
    margin-left: 24vw;}
