$color-general:#ff9f1c;
$fuente-titulos:'Raleway', sans-serif;
$fuente-parrafos:'Ubuntu', sans-serif;



$sizes:(
   cuatro:4rem,
   uno:1rem,
   unotres:1.3rem,
   unocinco:1.5rem,
   dos:2rem,
   tres:3rem,
   cinco:5rem,
   veintne:20rem,
)