@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Source+Sans+Pro:ital,wght@1,200&family=Ubuntu:ital,wght@1,300&display=swap');

@import "variables.scss";

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;}

 
.SectionWelcome{  /*modifica la seccion welcome*/
    text-align: left;
    font-family: $fuente-titulos;

        .txtWelcome{  /*modifica el h1 de welcome*/
            margin-top: 2rem ;
            font-size: 5rem;

                .txtW{  /*modifica el h4 de welcome*/
                    font-size: 3rem;

                        .txtW2{  /*modifica el h2 de welcome*/
                            font-size: 4rem;
                            border-bottom: solid 2px $color-general;
                            }
                        }
                    }
                }


/*Contenedor de todos los titulos*/
.contenedorTitle{
    font-family: $fuente-titulos;

        .txtTitle{/* Modifica todos los titulos*/
            border-bottom: solid 2px $color-general;
            font-size: 4rem;
            margin-top: 8vw;

                .parrafoTitle{/* modifica el parrafo de todos los titulos*/
                    font-size: 1.5rem;
                    margin-top: 2vw;
                    font-family: $fuente-parrafos;
                }
            }
        }


/* modifica  las tarjetas*/
.card{
    background-color: rgb(20, 18, 18);
    margin-left: 3vw;
    width: 80%;
    transition: 300ms;

        &:hover{
            transform: scale(1.1); 

                .btn{
                    color:black;
                    background-color: $color-general ;
                    border: solid 2px $color-general;
            }
            }
        }

/*modifica el contenedor de experience*/
.containerExperience{
    justify-content: center;
    margin-top: 8vw;
    padding-left: 1vw;}    

/*modifica el contenedor de aboutme*/
.containerAboutme{
    justify-content: center;
        .parrafoAboutme{/* modifica el parrafo de aboutme*/
            font-family: $fuente-parrafos;
            font-size: 1.5rem;
            margin-top: 2vw;
                .imgAboutme{/* modifica la imagen de perfil*/
                    margin-top:4vw ;}
                }
            }

/*modifica el contenedor del formulario*/
.containerForm{
    margin-left: 17vw;}

/* modifica el footer*/
footer{
    margin-top: 2rem;}


@media screen and (min-width: 600px) and (max-width:992px){


/* modifica la imagen de perfil*/
.imgAboutme{
    margin-left: 8vw;}

/*modifica el contenedor del formulario*/
.containerForm{
    margin-left: 12vw;}}


@media screen and (max-width: 599px){



.txtWelcome{/* modifica el h1 de welcome*/
    margin-top: 1rem ;
    font-size: 4rem;}

.txtW{/* mopdifica el h4 de welccome*/
    font-size: 2rem;}

.txtW2{/* mopdifica el h2 de welccome*/
    font-size: 3rem;}
           

/* Modifica todos los titulos*/
.txtTitle{
    font-size: 3rem;}

/* modifica el parrafo de todos los titulos*/
.parrafoTitle{
    font-size: 1.3rem;}

/* modifica la imagen de perfil*/
.imgAboutme{
        width: 20rem;
        margin-left: 14vw;}


/*modifica el contenedor del formulario*/
.containerForm{
    margin-left: 13vw;}}