@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Source+Sans+Pro:ital,wght@1,200&family=Ubuntu:ital,wght@1,300&display=swap');
@import "variables.scss";
@import "mixins.scss";
@import "text.scss";
@import "title.scss";
@import "footer.scss";
@import "card.scss";
@import "mediaquery.scss";



